{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
  {% include 'headerHR.html' %}
{% endblock %}

{% block content %}
<h1> Hello user {% ifequal request.path '/HR/home/' %} Hey {% endifequal %}</h1>
{% endblock %}

{% block specific_js %}

<script>
$(document).ready(function() {

  wampConnection.session.publish('service.notification.pradeep', ["some notication"], {}, {acknowledge: true}).then(
    function (publication) {
      console.log("sent the notification");
    },
    function (error) {
      // publish failed
      console.log("error while sending the notification");
    }
  );
});

</script>

{% endblock %}
