{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
  {% include 'headerHR.html' %}
{% endblock %}

{% block content %}
<h1> Hello user {% ifequal request.path '/HR/home/' %} Hey {% endifequal %}</h1>

{% endblock %}

{% block specific_js %}

<script src="{% static 'js/autobahn.min.js' %}"></script>
<script type="text/javascript">

   // the URL of the WAMP Router (Crossbar.io)
   //
  var wsuri;
  wsuri = "ws://10.140.7.94:8080/ws";

  var connection = new autobahn.Connection({
    url: wsuri,
    realm: "realm1"
  });


   // timers
   //
   var t1, t2;


   // fired when connection is established and session attached
   //
   connection.onopen = function (session, details) {

      console.log("Connected");

      // SUBSCRIBE to a topic and receive events
      //
      function onhello (args) {
         var msg = args[0];
         console.log("event for 'onhello' received: " + msg);
      }
      session.subscribe('com.example.onhello', onhello).then(
         function (sub) {
            console.log("subscribed to topic 'onhello'");
         },
         function (err) {
            console.log("failed to subscribed: " + err);
         }
      );


      // REGISTER a procedure for remote calling
      //
      function add2 (args) {
         var x = args[0];
         var y = args[1];
         console.log("add2() called with " + x + " and " + y);
         return x + y;
      }
      session.register('com.example.add2', add2).then(
         function (reg) {
            console.log("procedure add2() registered");
         },
         function (err) {
            console.log("failed to register procedure: " + err);
         }
      );


      // PUBLISH and CALL every second .. forever
      //
      // var counter = 0;
      // setInterval(function () {
      //
      //    // PUBLISH an event
      //    //
      //    session.publish('com.example.oncounter', [counter]);
      //    console.log("published to 'oncounter' with counter " + counter);
      //
      //    // CALL a remote procedure
      //    //
      //    session.call('com.example.mul2', [counter, 3]).then(
      //       function (res) {
      //          console.log("mul2() called with result: " + res);
      //       },
      //       function (err) {
      //          if (err.error !== 'wamp.error.no_such_procedure') {
      //             console.log('call of mul2() failed: ' + err);
      //          }
      //       }
      //    );
      //
      //    counter += 1;
      // }, 100000000000000000);
   };


   // fired when connection was lost (or could not be established)
   //
   connection.onclose = function (reason, details) {
      console.log("Connection lost: " + reason);
      if (t1) {
         clearInterval(t1);
         t1 = null;
      }
      if (t2) {
         clearInterval(t2);
         t2 = null;
      }
   }


   // now actually open the connection
   //
   connection.open();

</script>

{% endblock %}
