{% extends "admin.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block header %}
  {% include 'headerHR.html' %}
{% endblock %}

{% block specific_css %}

<link rel="stylesheet" href="{% static 'css/genericSearch.css' %}" charset="utf-8">
{% endblock %}

{% block adminContent %}
<!-- <div class="row"> -->

  <ol class="breadcrumb">
    <li class="active">Administration</li>
    <li class="active">{{navContext | title}}</li>
  </ol>
<!-- </div> -->
<div id="searchEmpApp">
  <div ng-controller="empSearchCtrl">
    {% verbatim %}
    <!-- test text = {{test}} -->

    <div class="col-md-12">
      <div class="row container-fluid">
        <div class="input-group">

          <input type="text" class="form-control" name="refine" placeholder="Search" ng-model = "searchText">
          <div class="input-group-btn">
            <a class='btn btn-default ' ng-click = "viewMode = 'list'"> <i class="fa fa-bars"></i></a>
            <a class='btn btn-default ' ng-click = "viewMode = 'icons'"> <i class="fa fa-th-large"></i></a>
            <a class='btn btn-default ' ng-click = "viewMode = 'thumbnail'"> <i class="fa fa-th"></i></a>
            <a class='btn btn-default ' ng-click = "viewMode = 'graph' "> <i class="fa fa-pie-chart"></i></a>

            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Use in report</a></li>
              <li><a href="#">Export</a></li>
              <li><a href="#">Print</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Send via email</a></li>
            </ul>
          </div>
        </div>
      </div>
      <nav>
        <ul class="pagination pull-right">
          <li ng-repeat="num in itemsNumPerView" ng-class="{'active' : itemsNumPerView[$index] == itemsPerView}" ng-click="changeNumView(itemsNumPerView[$index])"><a href="">{{num}}</a></li>
        </ul>
        <ul class="pagination">
          <li ng-click="loadPrevSetPages()">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li ng-repeat="page in pageList" ng-class="{'active':$index==pageNo}" ng-click="changePage($index)"><a href="">{{page}}</a></li>
          <li ng-click="loadNextSetPages()">
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="row container-fluid">
        <table ng-if="viewMode == 'list'" class="table table-hover table-striped table-condensed genericTable" >
          <thead>
            <tr>
              <th ng-repeat = "heading in tableHeading" ng-click="sort($index)">{{heading | humanize}}
                <i ng-if="sortFlag[$index]==1" class="fa fa-angle-up"></i>
                <i ng-if="sortFlag[$index]==-1" class="fa fa-angle-down"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in tableData">
              <td><input type="checkbox" name="name" value=""></td>
              <td ng-repeat = "(key , val) in row" ><span ng-bind-html="val | explodeObj"></span></td>
              <td>
                <div class="input-group-btn">
                  <a class='btn btn-default btn-sm'> <i class="fa {{mainOption.icon}}"></i></a>
                  <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="(key , val) in options"><a href="{{val}}">{{key | humanize}}</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div ng-if = "viewMode == 'thumbnail'" ng-repeat="item in tableData">
          <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header {{$index | rainbow}}">
                <div class="widget-user-image">
                  <img class="img-circle" ng-src="{{item.url | getDP}}" alt="User Avatar">
                </div><!-- /.widget-user-image -->
                <h3 class="widget-user-username">{{item.first_name +' '+ item.last_name}}</h3>
                <h5 class="widget-user-desc">Lead Developer</h5>
              </div>
              <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                  <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                  <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                  <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                  <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                </ul>
              </div>
            </div><!-- /.widget-user -->
          </div>
        </div>
      </div>


    </div> <!-- main col -->
    {% endverbatim %}
  </div> <!-- ng controller -->
</div> <!-- ng app -->


{% endblock %}

{% block specific_js %}
<script src="{% static 'js/ngSearchEmp.js' %}"></script>
<script type="text/javascript">

  $(document).ready(function() {
    // alert("going to load");
    angular.bootstrap( document.getElementById('searchEmpApp'), ['genericSearch']);
  });

  range1 = function(){
    return "working";
  }
</script>

{% endblock %}
