{% extends "admin.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block header %}
  {% include 'headerHR.html' %}
{% endblock %}

{% block specific_css %}

<link rel="stylesheet" href="{% static 'css/genericSearch.css' %}" charset="utf-8">
{% endblock %}

{% block adminContent %}
<!-- <div class="row"> -->

<ol class="breadcrumb">
  <li class="active">Administration</li>
  <li class="active">{{navContext | title}}</li>
</ol>
<!-- </div> -->
<div id="searchEmpApp">
  <div ng-controller="empSearchCtrl">
    {% verbatim %}
    <!-- test text = {{test}} -->

    <div class="col-md-12">
      <generic-Table callback-Fn = "tableAction" options='options' resource-Url = "'/api/users/'" search="true"
        primary-Search-Field="'username'" views='views' multiselect-Options = 'multiselectOptions' get-Params = "getParams"></generic-Table>

    </div> <!-- main col -->
    <button type="button" class="btn btn-default" ng-click="openAside('left', true)"> Open aside</button>
    <button type="button" class="btn btn-default" ng-click="openAside('left' )">
            <span class="glyphicon glyphicon-align-justify"></span> Left
          </button>
    {% endverbatim %}
  </div> <!-- ng controller -->
</div> <!-- ng app -->

{% endblock %}

{% block specific_js %}
<script src="{% static 'js/ngSearchEmp.js' %}"></script>
<script type="text/javascript">

  $(document).ready(function() {
    // alert("going to load");
    angular.bootstrap( document.getElementById('searchEmpApp'), ['genericSearch']);
  });
</script>

{% endblock %}
