table {
	border: #ccc 1px solid;

}
table th {
  cursor: pointer;
  height: 40px;
  -moz-user-select: none;
	background-color: #005a63;
  color: white;
  border: #005a63 1px solid;

}

table td {
	border: 1px solid #e0e0e0;
}

table tr:hover{
	background: #f2f2f2;

}
