
table th {
  cursor: pointer;
  height: 40px;
  -moz-user-select: none;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}

table td {
	border: 1px solid #f2f2f2;
}

table tr:hover{
	background: #f2f2f2;
}
