{% verbatim %}
<div id="socialAppDiv">
  <div ng-controller="socialCtrl">
		<div class="row">
			<div class="col-sm-10">

				<section class="content-header">
				  <ol class="breadcrumb">
					<li><a href="#"> Home</a></li>
					<li class="active">Dashboard</li>
				  </ol>
				</section>
				<div class="col-md-3">
					<div class="row">
		      	<!-- Widget: user widget style 1 -->
			      <div class="box box-widget widget-user">
			        <!-- Add the bg color to the header using any of the bg-* classes -->
			        <div class="widget-user-header bg-black" style="background: url({{user.social.coverPic}}) no-repeat scroll center center / cover">
			        </div>
			        <div class="widget-user-image">
			          <img class="img-circle" ng-src="{{user.url | getDP}}">
			        </div>

			      </div><!-- /.widget-user -->
			    </div>
					<div class="row">
			      <!-- Profile Image -->
			      <h4 class="profile-username text-center">{{user.url | getName}}</h4>


			      <ul class="list-group list-group-unbordered">
							<li class="list-group-item">Projects <span class="pull-right badge bg-blue">31</span></li>
							<li class="list-group-item">Tasks <span class="pull-right badge bg-aqua">5</span></li>
							<li class="list-group-item">Completed Projects <span class="pull-right badge bg-green">12</span></li>
							<li class="list-group-item">Followers <span class="pull-right badge bg-red">842</span></li>
			      </ul>
						<div align="center">
							<a class="btn btn-success btn-sm"><i class="fa fa-user-plus"></i></a>
							<a class="btn btn-default btn-sm"><i class="fa fa-envelope-o"></i></a>
						</div>

			      <!-- About Me Box -->
			      <div class="box box-primary">
			        <div class="box-header with-border">
			          <h4 class="box-title">About Me</h4>
								<p class="text-muted" align="justify">{{user.social.aboutMe}}</p>
								<hr>
			        </div><!-- /.box-header -->
			        <div class="box-body">
			          <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
								<br>
								<br>
								<p class="text-muted"> <i class="fa fa-minus"></i>
			            B.Tech. in Aerospace Engineering <br> IIT Bombay
			          </p>
								<br>
			          <hr>

			          <strong><i class="fa fa-flask margin-r-5"></i> Department</strong>
			          <p class="text-muted">Professional Services</p>

			          <hr>

			          <strong><i class="fa fa-file-text-o margin-r-5"></i> Status</strong>
			          <p class="text-muted">{{user.social.status}}</p>

								<hr>

			          <strong><i class="fa fa-envelope margin-r-5"></i> Contact</strong>
			          <h5 class="description-text"><i class="fa fa-at"></i>&nbsp;&nbsp;{{user.username}} , <i class="fa fa-mobile"></i>&nbsp;&nbsp;+919702438730</h5>
			        </div><!-- /.box-body -->
			      </div><!-- /.box -->
			    </div>
				</div>

				<div class="col-md-9">
		      <!-- Custom Tabs -->
		        <ul class="nav nav-tabs">
		          <li class="active"><a aria-expanded="true" href="#tab_1" data-toggle="tab">Activity</a></li>
		          <li class=""><a aria-expanded="false" href="#tab_2" data-toggle="tab">Timeline</a></li>
		          <li class=" pull-right"><a aria-expanded="false" href="#tab_3" data-toggle="tab"> <i class="fa fa-plus"></i></a></li>
		        </ul>
						<br>
		        <div class="tab-content" >
		          <div class="tab-pane active" id="tab_1">
								<div class="tab-pane active" >
		                <ul class="timeline timeline-inverse">
		                  <!-- <li class="time-label">
		                    <span class="bg-yellow">
		                      10 Feb. 2014
		                    </span>
		                  </li> -->
                      <div ng-repeat="feed in sortedFeeds">
                        <post ng-if ="feed.type=='post'" data = "user.posts[feed.index]" on-delete = "removePost(feed.index)"></post>
                        <album ng-if = "feed.type == 'album'" data = "user.albums[feed.index]"></album>
                      </div>

		                  <!-- END timeline item -->
											<!-- <li>
			                  <i class="fa fa-video-camera bg-maroon"></i>
			                  <div class="timeline-item">
			                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
			                    <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
			                    <div class="timeline-body">
			                      <div class="embed-responsive embed-responsive-16by9">
			                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tMWkeBIohBs" allowfullscreen="" frameborder="0"></iframe>
			                      </div>
			                    </div>
			                    <div class="timeline-footer">
			                      <a href="#" class="btn btn-xs bg-maroon">See comments</a>
			                    </div>
			                  </div>
			                </li> -->
		                </ul>
		              </div>
		          </div><!-- /.tab-pane -->
		          <div class="tab-pane" id="tab_2">
		            The European languages are members of the same family. Their separate existence is a myth.
		            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
		            in their grammar, their pronunciation and their most common words. Everyone realizes why a
		            new common language would be desirable: one could refuse to pay expensive translators. To
		            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
		            words. If several languages coalesce, the grammar of the resulting language is more simple
		            and regular than that of the individual languages.
		          </div><!-- /.tab-pane -->
		          <div class="tab-pane" id="tab_3">
                <div ng-hide="statusMessage==''" class="alert alert-{{status}} fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{statusMessage}}</div>

                <ul class="nav nav-tabs nav-justified">
    		          <li class="active"><a aria-expanded="true" href="#post" data-toggle="tab"><i class="fa fa-comment-o"></i>  Post</a></li>
    		          <li class=""><a aria-expanded="false" href="#uploadPhoto" data-toggle="tab"><i class="fa fa-picture-o"></i>  Picture</a></li>
                  <li class=""><a aria-expanded="false" href="#albumEditor" data-toggle="tab"><i class="fa fa-th-large"></i>  Album</a></li>
    		        </ul>
    						<br>

                <div class="container-fluid">
                  <div class="tab-content" >
                    <div class="tab-pane active" id="post">
                      <form class="form-horizontal" name = "postForm" ng-submit= "publishPost()">
                        <div class="form-group">
                          <label class="control-label col-sm-3" for="post">Post:</label>
                          <div class="col-md-7">
                            <textarea type="text" rows="3" name="post" value="" class="form-control " required ng-model="post.text"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3" for="attachment">Attachment:</label>
                          <div class="col-sm-7">
                            <input type="file" name="attachment" file-model="post.attachment">
                          </div>
                        </div>
                        <button type="submit" class = "btn btn-primary pull-right" name="button">Post</button>
                      </form>
                    </div>
                    <div class="tab-pane" id="uploadPhoto">
                      <form class="form-horizontal" name = "postPicture" ng-submit= "uploadImage()">
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="post">Select photo :</label>
                          <div class="col-md-9">
                            <input type="file" name = "photo" file-model = "picturePost.photo">
                          </div>
                          <button type="submit" class = "btn btn-primary pull-right" name="button">Upload</button>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane" id="albumEditor">
                      <div class="row" style="height:700px;">
                        <div class="col-md-9">
                          <div class="row">
                            <div class="container-fluid" style="margin-top:10px;">
                              <form class="form-horizontal" name = "postForm" ng-submit= "publishPost()">
                                <div class="form-group">
                                  <label class="control-label col-sm-3" for="post">Album Name:</label>
                                  <div class="col-md-9">
                                    <div class="input-group">
                                      <input type="text" name="albumTitle" value="" class="form-control " ng-model="tempAlbum.title"></input>
                                      <span class="input-group-btn">
                                        <button type="button" ng-click="createAlbum()" class="btn btn-success ">Create</button>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="row">
                            <div style="display:block;box-sizing:border-box;height:700px;padding:10px;">
                              <generic-Table resource-Url = "'/api/socialPicture/'" search="false" views='views' get-Params = "getParams" table-Data="draggableObjects"></generic-Table>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div style="border: 1px #3d9483 solid; display:block;box-sizing:border-box;height:700px;overflow:auto;" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                            <div ng-repeat="obj in droppedObjects" ng-drag-data="obj" data-allow-transform="true">
                              <div class="container" style="position:relative; width:100%; padding:20px;" ng-mouseover="deleteObjOption=true" ng-mouseleave="deleteObjOption=false">
                                <span>
                                  <i ng-show="deleteObjOption" ng-click = "removeFromTempAlbum($index)" class="fa fa-times-circle fa-3x" style="position:absolute;top:0px;right:0px;text-align: center;;z-index:10;cursor:pointer"></i>
                                </span>
                                <img height="auto" width="100%" ng-src="{{obj.photo}}" alt="" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- tab content -->
                </div> <!-- container -->
		          </div><!-- /.tab-pane -->
		        </div><!-- /.tab-content -->
		    </div>

				<div class="container col-md-12">
					<div class="col-sm-12 text-center">
						<h3 class="text-muted">Skills</h3>
						<hr class="star-light">
					</div>

					<div class="col-md-2 col-md-offset-1">
						<div class="row">
							<div align="center" class="demo-1" data-percent="10"></div>
						</div>
						<h5 class="text-muted" align="center">CSS</h5>
					</div>

					<div class="col-md-2">
						<div class="row">
							<div align="center" class="demo-2" data-percent="90"></div>
						</div>
						<h5 class="text-muted" align="center">PHP</h5>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div align="center" class="demo-3" data-percent="60"></div>
						</div>
						<h5 class="text-muted" align="center">Python</h5>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div align="center" class="demo-4" data-percent="40"></div>
						</div>
						<h5 class="text-muted" align="center">FreeCAD</h5>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div align="center" class="demo-5" data-percent="80"></div>
						</div>
						<h5 class="text-muted" align="center">C++</h5>
					</div>

				</div>

				<div class="col-sm-12 text-center">
					<h3 class="text-muted">... <i class="fa fa-photo"></i>  ...</h3>
					<hr class="star-light">
				</div>


				<div class="container col-md-12">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "picture in user.pictures"><img class="imgProfileGallery" ng-src="{{picture.photo}}"  height="200" width="300"/></div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="col-lg-12 text-center">
						<h3 class="text-muted">Publications</h3>
						<hr class="star-light">
					</div>
					<div class="row">
						<ul>
							<li> Patil MD, Nataraj PSV, Vyawahare VA. Automated design of fractional PI QFT controller using interval constraint satisfaction technique (ICST), Nonlinear Dynamics, DOI 10.1007/s11071-012-0357-7</li>
							<li> Patil MD, Nataraj PSV, Automated synthesis of multivariable QFT controller using interval constraint satisfaction technique, Journal of Process Control, 2012; 22(4) </li>

						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<div class="col-lg-12 text-center">
						<h3 class="text-muted">Projects</h3>
						<hr class="star-light">
					</div>
					<div class="row">
						<ul>
							<li><h4>HeadCopter</h4></li>
							Guide: Prof. K P Karunakaran, IITB
							</br>
							Discription: Some discription of the project.Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>

							<li><h4>HeadCopter</h4></li>
							Guide: Prof. K P Karunakaran, IITB
							</br>
							Discription: Some discription of the project B. Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<ul class="nav nav-sidebarWhatsnew" >
					<li><div class="header">Whats New</div></li>
					<li><a data-toggle="tab" href="#"><span class="label label-success">Article</span> : A method to search for the mobile and static targets is discussed and a new variant is presented</a></li>
					<li><a data-toggle="tab" href="#"><span class="label label-primary">Tutorial</span> : How to make a collapsable navbar in bootstrap</a></li>
					<li><a data-toggle="tab" href="#"><span class="label label-warning">Blog</span> : Thought : New government policies to effect the service sector efficiency</a></li>
					<li><a data-toggle="tab" href="#"><span class="label label-primary">Tutorial</span> : How to control the threads in Python</a></li>
					<li><a data-toggle="tab" href="#"><span class="label label-info">Product</span> : A valve to optimally control the flow in the cumbuston engine</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endverbatim %}
